.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: none;
}
.custom-footer{
  margin: -1.5em 1.5em 0em 1.5em;
  opacity: 0.8;
  background-color: #212529;
  border-radius: 15px;
  color:white;
}
