nav{
  margin: 1.5em 1.5em 0em 1.5em;
  opacity: 0.8;
  border-radius: 15px;
}
nav ul li a {
  padding: 1em;
  color:white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

nav a{
  color:white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

header img {
  display: block;
  margin: 3em auto 2em;
}
.navbar-toggler{
background-color: #383f48!important;
border: 1px solid #999!important;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.nav-item{
  margin:1em;
}
