html, body {
  text-align: center;
  background: url(./img/menu-header.jpg) fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  max-height: 100%;
  bottom: 0;

}

p {
  font-size: 20px;
  font-family: Athelas, sans-serif;
}
